.flex-container{
  display: flex;
  flex-direction:column;
  background-color: rgb(235, 240, 243);
  width: 70vw;
  height: 80vh;
  margin: auto;
  margin-top: 80px;
  
}

.flex-top{
  display :flex;
 margin-top: 100px;
 align-items: center;
 
  flex-direction: row;
  gap:30px;
  justify-content:space-around;


 
}
.image{
  flex-shrink: 1;
}

@media screen and (max-width: 800px) {
  .flex-top{
    display :flex;
   margin-top: 100px;
   align-items: center;
   
    flex-direction: row;
    gap:30px;
    margin-right: 20px;
  
  
   
  }
  .flex-container{
    
    justify-content: center;
  width: auto;
  height: 100vh;
  margin-top: 0px;
}
  .flex-top2{
    width:200px;
    height:auto;

  }
 
  .f2{
    margin-top: 100px;
  }
  .f3{
    margin-bottom: 70px;
  }
}
.numberinput{
width:70px;
background-color: white;
}
.flex-top2{
  display:flex;
  flex-direction: column;
  width:400px;

}


.product-info{
  
  font-size:medium;
  font-weight: 500;
}

.flextop-3{
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-right: 10px;
  align-items: flex-end;
}

.flex-bottom{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
}

.f1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.f2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.f3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
}

