.flex-container{
  display: flex;
  flex-direction:column;
  background-color: rgb(239, 231, 221);
  width: 70vw;
  height: 80vh;
  margin: auto;
  margin-top: 80px;
}

.flex-top{
  display :flex;
  margin-top: 100px;
  margin-left: 70px;
  flex-direction: row;
  gap:10px;
}